/* LoginPage.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #151517;
  }
  
  .login-form {
    background-color: #2d2d32;
    padding: 2rem;
    border-radius: 8px;
    color: #fff;
    width: 300px;
  }
  
  .login-form h2 {
    margin-bottom: 1rem;
  }
  
  .login-form p {
    margin-bottom: 1rem;
  }
  
  .login-form a {
    color: #8b6ce5;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  /* Error message styling */
  .error-message {
    display: flex;
    align-items: center;
    color: red;
    font-size: 12px;
    margin-top: 4px; /* Space between input and error message */
  }
  
  .error-icon {
    margin-right: 4px; /* Space between icon and message */
  }