.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.movie-container {
  position: relative;
  display: inline-block;
  margin: 5px;
  transition: transform 0.3s ease;
  overflow: hidden;
  border-radius: 0px;
  width: calc(100% / 8 - 10px);
  height: 300px;
}

.movie-container img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.movie-container:hover {
  transform: scale(1.1);
}

.movie-container:hover img {
  filter: blur(3px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.movie-container:hover .overlay {
  opacity: 1;
}

.overlay-content {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  text-align: left;
  width: 100%;
  z-index: 1;
  word-wrap: break-word;
  white-space: normal;
}

.overlay-content h3 {
  margin: 0;
  font-size: 1em;
}

.overlay-content p {
  margin: 5px 0;
  font-size: 0.9em;
}

.genre-boxes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 0;
  margin-top: 5px;
}

.genre-box {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 2px 8px;
  font-size: 0.8em;
  color: white;
  display: inline-block;
  margin: 2px;
  white-space: nowrap;
}